<template>
    <div>
        <h3>{{ title }}</h3>
        <p>{{ content }}</p>
        <button @clickMe="">Click me</button>
    </div>
</template>

<script lang="ts" setup>

const {title,content}=defineProps(['title','content'])
const emit=defineEmits(['clickMe'])

const clickMe=()=>{
    emit('clickMe',1)
}
</script>

<style scoped>

</style>